<nav class="navbar">
  <div class="navbar-logo" routerLink="/home">LlegaYa</div>

  <div class="navbar-links">
    <a routerLink="/home" routerLinkActive="active">Inicio</a>
    <a routerLink="/comercios" routerLinkActive="active">Comercios</a>
    <a routerLink="/pedidos" routerLinkActive="active">Pedidos</a>

    <!-- Solo si tiene negocio registrado -->
    <a *ngIf="tieneNegocio"
       routerLink="/mi-comercio"
       routerLinkActive="active">Mi comercio</a>

    <a *ngIf="tieneNegocio"
       routerLink="/catalogo"
       routerLinkActive="active">Mi catálogo</a>
  </div>

  <div class="navbar-right">
    <div class="search-bar">
      <span>🔍</span>
      <input type="text" placeholder="Buscar productos, comercios..." />
    </div>

    <span class="icon-bell">🔔</span>

    <div class="carrito-btn" routerLink="/carrito" > <!-- *ngIf="totalCarrito > 0" -->
    🛒
    <span class="carrito-count">{{ totalCarrito }}</span>
    </div>

    <div class="avatar" (click)="irPerfil()" title="Mi perfil">
      {{ usuario?.nombre?.charAt(0)?.toUpperCase() ?? 'U' }}
    </div>

    <span *ngIf="rol === 'admin'" class="badge-admin" (click)="irAdmin()">
      ⚙️ Admin
    </span>
  </div>
</nav>